@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    padding-block: 3%;
    display: flex;
    width: 90%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.container div {
    width: 50%;
    margin-block: auto;
}

.container img {
    width: 50%;
    height: 30%;
}

.container div h1 {
    font-size: 1.5em;
}

.container div p {
    width: 90%;
    margin-left: 0%;
    margin-right: 10%;
    text-align: justify;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column-reverse;
    }

    .container div {
        width: 100%;
        margin: auto;
    }

    .container div p {
        width: 100%;
        margin-right: 0%;
    }

    .container img {
        width: 60%;
        margin: auto;
    }

    .container h1 {
        font-size: 1.3em;
        margin-bottom: 0;
    }

    .container h3 {
        margin-top: 0;
    }
}