@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    padding-block: 3%;
    display: flex;
    width: 90%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.container div {
    width: 50%;
    margin-block: auto;
}

.container img {
    width: 50%;
    height: 30%;
}

.container div h1 {
    font-size: 1.5em;
}

.container div p {
    width: 90%;
    margin-left: 0%;
    margin-right: 10%;
    text-align: justify;
}
